


body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.wallpaper img {
    width: 100%;
}



/* Elementos junto do Planeta */

/* Home */
.seta_home img {
    height: 6vh;
    width: 4%;
    position: absolute;
    margin-top: 3%;
    margin-left: 1%;
}

.seta_home span {
    font-size: 25px;
    margin-left: 5%;
    margin-top: 3.3%;
    position: absolute;
}

/* Personagens */
.seta_personagens img {
    height: 8vh;
    width: 4%;
    position: absolute;
    margin-top: 47%;
    margin-left: 35%;
}

.seta_personagens span {
    margin-left: 31%;
    margin-top: 45%;
    position: absolute;
    font-size: 25px;
}

/* Equipe */
.seta_equipe img {
    height: 8vh;
    width: 4%;
    position: absolute;
    margin-top: 47%;
    margin-left: 62.2%;
}

.seta_equipe span {
    margin-left: 61%;
    margin-top: 45%;
    position: absolute;
    font-size: 25px;
}

/* Fim dos elementos junto do Planeta */



/* Início da Descrição de Personagens */

.seta_oculta1 img {
    height: 40px;
    margin-top: -1%;
    margin-left: 50%;
}

.seta_aberta1 img {
    height: 40px;
    margin-top: 5%;
    margin-left: 210%;
}

.cumprimentos {
    font-size: 31px;
    position: absolute;
    margin-top: -51.5%;
    margin-left: 61%;
}

.conteudo_site1 img {
    height: 9vh;
    width: 5%;
    position: absolute;
    margin-left: 89%;
    margin-top: -53%;
}


.historias {
    background-color: white;
    border: black 3px solid;
    border-radius: 7px;
    height: 155vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

/* Começo de Yün'dnir */
.historias .yundnir_aberto {
    background-color: rgb(59, 59, 59);
    height: 65%;
    width: 93%;
    border: black 4px solid;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 3%;
}

.historias .yundnir_oculto {
    background-color: rgb(59, 59, 59);
    height: 11%;
    width: 93%;
    border: black 4px solid;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 3%;
}

.titulo_yundnir h1 {
    margin-left: 37%;
    font-size: 30px;
}

.cartao_yundnir {
    background-color: rgb(255, 255, 155);
    border: black 4px solid;
    height: 550px;
    width: 23%;
    margin-left: 2%;
}

.image1 img {
    height: 330px;
    width: 93%;
    margin-left: 2%;
    margin-top: 2%;
    border: black 3px solid;
    border-radius: 5px
}

.descricao_yundnir {
    color: black;
    font-size: 17px;
    text-align: center;
}

.texto_yundnir {
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
    margin-top: -38%;
}
/* Fim de Yün'dnir */


/* Começo de Khanneigg */
.seta_oculta2 img {
    height: 40px;
    margin-top: -1%;
    margin-left: 50%;
}

.seta_aberta2 img {
    height: 40px;
    margin-top: 5%;
    margin-left: 210%;
}

.historias .khanneigg_aberto {
    background-color: rgb(59, 59, 59);
    height: 65%;
    width: 93%;
    border: black 4px solid;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 3%;
}

.historias .khanneigg_oculto {
    background-color: rgb(59, 59, 59);
    height: 11%;
    width: 93%;
    border: black 4px solid;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 6%;
}

.titulo_khanneigg h1 {
    margin-left: 30%;
    font-size: 30px;
}

.cartao_khanneigg {
    background-color: rgb(255, 255, 155);
    border: black 4px solid;
    height: 550px;
    width: 23%;
    margin-left: 2%;
}

.image2 img {
    height: 330px;
    width: 93%;
    margin-left: 2%;
    margin-top: 2%;
    border: black 3px solid;
    border-radius: 5px
}

.descricao_khanneigg {
    color: black;
    font-size: 17px;
    text-align: center;
}

.texto_khanneigg {
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
    margin-top: -38%;
}

/* Fim da Descrição de Personagens */
