html,
body {
  overflow: hidden;
  overflow-x: hidden;
  max-width: 100%
}

.aqua {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  display: none;
  height: 100%;
  overflow: hidden;
  background: #107b10;
  z-index: 999;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.selected {
  animation: slide-in 2.5s forwards;
  -webkit-animation: slide-in 2.5s forwards;
}

.dismiss {
  animation: slide-out 2.5s forwards;
  -webkit-animation: slide-out 2.5s forwards;
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}